*{
    margin: 0;
    padding: 0;
    
}
body{
    max-width: 100%;
    height: 100vh;
    justify-content: center;
}
.hero img{
   max-width: 80%;
   z-index: 1;
   height: 90vh;


}
.coming-soon{
    margin-top: -50vh;
    margin-left:40% ;
   
}
a {
    text-decoration: none;
    color: #ffa;
}
button{
    background: #a89d9d;
    margin-left: 25%;
    border:none;
    margin-left: 15%;
}
.social{
   
    width: 10%;
    margin: 20px 45% 0 45%;
}
.social a{
    color: #272;
}
.btn a{
    color: #000;
}
.btn{
    color: #fff;
    padding: 15px;
    margin-top: 20px;
    border-radius: 35px;

}
button:hover{
    background: #5f1813;

}
button.btn a:hover{
    color: #fff;
}
.btn:hover{
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: 0.5s;
}
.coming-text p{
    font-size: 40px;
    margin-left: 10%;
    text-align: left;
}


@media(max-width:600px)


{
    .coming-soon{
        margin-left: 20px;
   
    }
    .coming-text h1{
        margin-left: 10%;
        font-size: 18px;
        margin-top: -50%;
    }
    .coming-text p{
        font-size: 30px;
        text-align: center;
    }
    .hero img{
       
    }
    button {
        background: #d0c0c0;
        margin-left: 25%;
        border:none;
    }
    a{
        text-decoration: none;
        color: #351818;
    }
    button:hover{
       background: #5f1813;
    }
 
    .btn{
        color: #fff;
        padding: 15px;
        margin-top: 10px;
        border-radius: 35px;
    }
    .btn:hover{
        font-size: 13px;
        font-weight: 600;
        transition: 0.5s;
    }
   button.btn a:hover{
        color: green;

    }

    
}