*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFF;
    max-width: 100%;

}
.nav{
    padding: 10px;
    margin-left: 8%;
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: space-between;
    
}
.nav_links{
    display: flex;
    margin: 20px;
    text-decoration: none;

}
.nav_links ul li .active {
    background: rgba(85, 112, 85, 0.089);
    border-radius: 10px;
 
}
.nav_links ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #635151;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.nav_links ul li{
    padding-right: 10px;
    display: inline;
    float: left;


}
.toogle_btn{
    display: none;
    font-size: 0;

}
li .dropdown{
    display: inline-block;

}
.dropdown_content a:hover{
    color: #0db1758e;
    transition: 1s;
    background: rgba(116, 108, 98, 0.411);
}
.dropdown_content a{
    display: block;
    text-align: left;
    border-radius: 10px;
    margin: 2px;

}
.closeNav{
    font-size: 0;
}
li a, .dropbtn {
    display: inline-block;
    color: rgba(126, 110, 110, 0.726);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.dropdown_content{
    display: none;
    background-color: #836b660a;
    margin: 0 5px;
    z-index: 1;
    position: absolute;
}
.dropdown:hover .dropdown_content {
    display: block;
}
@media screen and (max-width:540px){
    .logo{
        font-size: 16px;
    }
}
@media screen and (max-width:768px){
    .nav_links{
        display: none;
    }
    .logo{
        font-size: 20px;
    }
    .toogle_btn:hover{
        border-radius: 10px;
        border: 1px solid #451;
    }
    .toogle_btn{
        display: inline-block;
        font-size:40px;
        cursor: pointer;
    }

    .nav_links ul li .active {
        background: none;
    }
    .nav_links{
        z-index: 1;
        position: fixed;
        width: 180px;
        padding: 20px;
        top: 60px;
        left: 0;
        height: 100vh;
        overflow: hidden;
        
        background: rgba(152, 141, 163, 0.062);
      
    }
    .closeNav{
        right: 20px;
        position: absolute;
        top: 0;
        font-size: 40px;
        text-decoration: none;
        color: rgba(12, 11, 11, 0.726);
        font-weight: bold;
    }
    }
  
}
