body{

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  .bck{
      position: fixed;
      padding: 5px 20px;
      float: right;
  }
  .home{
      padding: 5px 15px;
      background-color: rgba(158, 137, 17, 0.788);
      font-size: 20px;
      border: none;
      color: rgb(18, 42, 150);
      border-radius: 20px;
      font-weight: 600;
  }
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  [class*="col-"]
{
    width: 100%;
    float: left;
}
.cardi{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
}

.card img{
    width:50%;
    border-radius: 60%;
    border: 1px solid green ;
    
}
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(41, 40, 40, 0.2);
    margin: 8px; 

    text-align: center;
    border-radius: 5px;
    
  }
  .about-section a{
      color: rgba(15, 156, 57, 0.788);
      font-weight: 900;
  }
  .about-section {
    height: 45vh;
    padding: 20px;

    background-color: #b99db22a;
    color: rgb(2, 2, 2);
  }
  
  .container {
    padding: 0 16px;
  }


  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    font-weight: 900;
    display: inline-block;
    padding: 8px;
    color: rgba(54, 26, 19, 0.822);
    background-color: rgba(0, 0, 0, 0.123);
    text-align: center;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    width: 100%;
  }
  
  .button:hover {
    background-color: rgba(17, 41, 77, 0.384);
  }
  @media(min-width:650px)
{
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
}
@media screen and (max-width: 825px) {
.column{
  width:47%;
  display:inline-block;

}
    .bck{
      position: fixed;
      padding: 5px 20px;
      float: right;
  }
    .about-section {
        height: 65vh;
    }
  }
  @media (max-width:710px)
  {
    .about-section {
        height: 59vh;
    }
  }
@media (max-width:650px)
  {
          .about-section {
        height: 100%;
    }
  }
  @media screen and (max-width: 415px) {
    .column {
      width: 100%;
      display: block;
    }
        .card img{
    height: 100%;
    border-radius: 500%;
    
}
    .about-section {
        height: 100%;
    }
  }




  footer{
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap ;
    padding: 10px;
    background-color:rgb(255, 255, 254) ;}
.footer > *{
    flex: 1 100%;
}
footer h1{

color: rgb(201, 24, 24);
}
footer span{
    cursor: pointer;
    color: black;
}
footer h4{

    color: rgb(201, 24, 24);
    }
    footer span{
        color: black;
    }
.footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
}
.footer-left h1{
    width: 50%;
}
h2{
    font-weight: 600;
    font-size: 20px;
    color: rgb(5, 5, 5);
}
.footer ul{
    list-style: none;
    padding-left: 0;
}
.footer li{
    line-height: 2em;
}
.footer a{
    text-decoration: none;
}
.footer-right{
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap ;
}
.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
}
.box a{
    color: #999;
}
.box a:hover{
    color: rgb(3, 90, 49);
    }
}
.footer-bottom{
    text-align: center;
    
}

p a{
    color: rgba(24, 124, 57, 0.575);
    margin-top:10px;
    line-height: 20px;

}
.footer-left p{
    padding-right: 20%;
    color: #999;
}
.socials a{
    background: #364a62;
    width: 40px;
    margin-right: 10px;
    margin-top: 20px;
    height: 40px;
    display: inline-block;
}
.socials a i{
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 25px;
}
 
 @media screen and (min-width:600px){
     .footer-right > *{
         flex: 1;
     }
     .footer-left{
         flex: 1 0px;
     }
     .footer-right{
         flex: 2 0px;
     }
 }
 @media(max-width:600px){
     .footer{
         padding:15px;
     }
     main{
         font-size: 55px;
     }
 }