.profile{
    max-width: 300px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}
img{
    width: 100%;
}
.title{
    color: grey;
    font-size: 18px;
    
}
p{
    line-height: 5px;
}
a{
    font-size: 22px;
    color: #000;
}
.fa-phone:hover{
    color: #fff;
    background-color: blue;
    border-radius: 45%;
}
.fa-youtube:hover{
    color: #fff;
    background-color: red;
    border-radius: 45%;
}
.fa-whatsapp:hover{
    color: #fff;
    background-color: green;
    border-radius: 45%;
}
.fa-envelope:hover{
    color: #fff;
    background-color: grey;
}
.fa-home{
    padding-left: 25%;
}
button{
    width: 100%;
    color: #fff;
    background-color: #000;
    padding: 8px;
    cursor: pointer;

}
button a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}