


.blog{
    background: rgb(190, 170, 173);
    height: 100%;
    width: 100%;
}
 .blog .blog-post{
     padding-top: 10px;

 }
 
 .blog-post .blog-content{
     display: flex;
     flex-direction: column;
     text-align: center;
     width: 81%;
     border-radius: 0 0 20px 20px;
     margin: 50px 30px;
     box-shadow: 0 15px 20px rgba(0, 0,0, 0.7);
 }